/* Reset CSS */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 /* Style cho menu */
 .vertical-menu {
   list-style-type: none;
   padding: 0;
   width: 100%;
 }

 .vertical-menu li {
   position: relative;
 }
 
 .vertical-menu a {
   display: block;
   padding: 10px;
   text-decoration: none;
   color: rgb(41, 41, 235);
 }
 
 /* Hover state cho menu item */
 .vertical-menu a:hover {
  background-image: linear-gradient(to left , rgb(216, 45, 219), white);
   border-radius: 0 20px 20px 0;
   animation: colorBackground .4s ease-out;
   cursor: pointer;
 }
 
 /* Dropdown menu dọc */
 .vertical-menu .dropdown {
   position: relative;
 }
 
 .vertical-menu .dropdown-content {
  display: block;
  overflow-y: hidden;
   list-style-type: none;
   left: 100%;
   top: 0;
   max-height: 0;
   transition-delay: 0s;
   transition-duration: 1.5s;
   transition-property: all;
   transition-timing-function: linear;
 }
 
 .vertical-menu .dropdown:hover .dropdown-content {
  max-height: 100%;
 }

 .vertical-menu .dropdown-content li a{
   padding-left: 1.5em;
 }

 @keyframes colorBackground {
  0% {
    transform: translateX(-20px)
  }
  100% {
    transform: translateX(0)
  }
 }