<nav class="d-flex navbar navbar-expand-lg bg-body-tertiary">
    <div class="container mb-2">
      <div class="d-flex collapse navbar-collapse" id="navbarNav">
        <ul class="nav col-12  me-lg-auto mb-2 justify-content-between mb-md-0">
            <li class="flex-grow-1"><a href="#" class="nav-link px-2 link-dark rounded-end">Trang Chủ</a></li>
            <li class="flex-grow-1"><a href="#" class="nav-link px-2 link-dark rounded-end">Thương hiệu</a></li>
            <li class="flex-grow-1"><a href="#" class="nav-link px-2 link-dark rounded-end">Nước hoa</a></li>
            <li class="flex-grow-1"><a href="#" class="nav-link px-2 link-dark rounded-end">Kiến thức</a></li>
            <li class="flex-grow-1"><a href="#" class="nav-link px-2 link-dark rounded-end">Blog</a></li>
            <li class="flex-grow-1"><a href="#" class="nav-link px-2 link-dark rounded-end">Liên hệ</a></li>
        </ul>
      </div>
    </div>
  </nav>