<nav class="d-flex navbar navbar-expand-lg bg-body-tertiary">
    <div class="container mb-2">
      <div class="d-flex collapse navbar-collapse" id="navbarNav">
        <ul class="nav col-12  me-lg-auto mb-2 justify-content-between mb-md-0">
            <li *ngFor= "let menu of listMenu; index as i; first as isFirst" class="flex-grow-1 menu-item">
              <a href="#" class="nav-link px-2 link-dark rounded-bottom">{{menu.name}}</a>
              <div *ngIf="menu.listChild.length > 0" class="sub-menu pt-2 rounded-bottom">
                <a *ngFor= "let child of menu.listChild; index as i; first as isFirst" href="#" class="nav-link px-2 link-dark ">{{child.name}}</a>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </nav>
