<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <div class="d-flex collapse navbar-collapse" id="navbarNav">
        <ul class="nav col-12  me-lg-auto mb-2 justify-content-between mb-md-0">
            <li class="flex-grow-1"><a href="#" class="nav-link px-2 link-dark ">Trang Chủ</a></li>
            <li class="flex-grow-1"><a href="#" class="nav-link px-2 link-dark">Thương hiệu</a></li>
            <li class="flex-grow-1"><a href="#" class="nav-link px-2 link-dark">Nước hoa</a></li>
            <li class="flex-grow-1"><a href="#" class="nav-link px-2 link-dark">Kiến thức</a></li>
            <li class="flex-grow-1"><a href="#" class="nav-link px-2 link-dark">Blog</a></li>
            <li class="flex-grow-1"><a href="#" class="nav-link px-2 link-dark">Liên hệ</a></li>
        </ul>
      </div>
    </div>
  </nav>